In [1]:
import pandas as pd

In [3]:
salary_df = pd.read_excel('salary_data.xlsx')
salary_df.drop(columns={'Unnamed: 0'}, inplace=True)
salary_df

   makeup  bartending  esthetician
0       0           0          100
1       0           0         -100
2     120           0            0

In [6]:
bnet = 0
bgross = 1

if bnet:
    salary = salary_df['makeup'].sum() + salary_df['bartending'].sum() + salary_df['esthetician'].sum()
elif bgross:
    salary_df = salary_df[salary_df['makeup'] >= 0]
    salary_df = salary_df[salary_df['bartending'] >= 0]
    salary_df = salary_df[salary_df['esthetician'] >= 0]

    salary = salary_df['makeup'].sum() + salary_df['bartending'].sum() + salary_df['esthetician'].sum()


salary

220