In [37]:
import pandas as pd
from datetime import date

In [41]:
date.today().year

2023

In [33]:
salary_df = pd.read_excel('salary_data.xlsx')
    


amount = 100
bincome = 0
bmakeup = 0
best = 1
bbar = 0

In [35]:
salary_df.drop(columns={'Unnamed: 0'}, inplace=True)

In [36]:
salary_df

   makeup  bartending  esthetician
0       0           0         -100

In [29]:
if not bincome:
    amount = amount*-1

salary_dict = {'makeup': [0], 'bartending': [0], 'esthetician': [0]}
if bmakeup:
    salary_dict['makeup'] = [amount]
elif bbar:
    salary_dict['bartending'] = [amount]
elif best:
    salary_dict['esthetician'] = [amount]

salary_dict

{'makeup': [0], 'bartending': [0], 'esthetician': [-100]}

In [30]:
new_df = pd.DataFrame(salary_dict)
new_df

   makeup  bartending  esthetician
0       0           0         -100

In [31]:
salary_df = pd.concat([salary_df, new_df])
salary_df.reset_index(drop=True, inplace=True)

In [32]:
salary_df.to_excel('salary_data.xlsx')